{% assign show=include.show %}
<div class="buttons mb-3 d-flex justify-content-around mx-n1">
	{% if include.only_book %}
		<a class="btn-zoo-book {% if include.book_primary %}btn-info{% else %}btn-outline-info{% endif %} w-50 mx-1 {{ include.btn_class }}" role="button">Book Tickets</a>
	{% else %}
		<a class="btn-zoo-book {% if include.book_primary %}btn-info{% else %}btn-outline-info{% endif %} w-50 mx-1 {{ include.btn_class }}" role="button">Book Tickets</a>
		<a class="btn-zoo-book {% if include.book_primary %}btn-outline-info{% else %}btn-info{% endif %} w-50 mx-1 {{ include.btn_class }}" role="button" href="/{{ show.title | datapage_url: 'programme' }}">{{ include.read_string | default: "Read more" }}</a>
	{% endif %}
</div>