{% assign show=include.show %}
<div class="buttons">
	{% assign today_date = 'now' | date: "%Y-%m-%d" %}
	{% include text/date-text.html show=show no_output=true %}
	{% assign book_text = undefined %}
	{% if show.booking_unavailable == true or show.ticket_url == empty or show.ticket_url == undefined %}
		{% assign book_text = 'Tickets available soon' %}
	{% elsif show.ticket_url contains 'edfringe' and site.edfringe_available == false %}
		{% assign book_text = 'Tickets available soon' %}
	{% elsif today_date > last_performance %}
		{% assign book_text = 'This show has ended' %}
	{% endif %}
	
	<a href="{% unless book_text %}{{ show.ticket_url | default: '#' }}{% else %}#{% endunless %}" target="_blank" class="btn-zoo-book {% if include.book_primary %}btn-info{% else %}btn-outline-info{% endif %} w-50 me-1 {{ include.btn_class }} {% if book_text %}disabled{% endif %}" role="button" {% if book_text %}disabled{% endif %}>{{ book_text | default:"Book Tickets" }}</a>
	{% unless include.only_book %}
		<a class="btn-zoo-book {% if include.book_primary %}btn-outline-info{% else %}btn-info{% endif %} w-50 ms-1 {{ include.btn_class }}" role="button" href="{% if include.read_link %}{{ include.read_link }}{% else %}/{{ show.title | datapage_url: 'programme' }}{% endif %}">{{ include.read_string | default: "Read more" }}</a>
	{% endunless %}
</div>