{% assign show=include.show %}
{% assign duration = show.duration | remove: ' ' %}
{% assign hrs = duration | slice: -2, 2 %}
{% unless hrs contains 'r' %}
	{% unless duration contains 'min' %}
		{% assign duration = duration | append: 'mins' %}
	{% endunless %}
{% endunless %}
{% if show.start_time and show.start_time != empty %}
	{% include show/show-start-time.html show=show %}

	<p><i class="far fa-clock fa-fw text-zoo-orange"></i>&nbsp;{{ show_start_time }} {% if show.duration and show.duration !=empty %}({{ duration }}){% endif %}</p>
{% endif %}