<!doctype html>
<html lang="en" class="h-100">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}?cachebust={{ site.time | date: "%Y%m%d%H%M"}}">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <link rel="icon" type="image/x-icon" href="/static/img/favicon.png">


    {% if page.layout == 'programme' %}
      <script>
        focusSearch = function getFocus() {
          document.getElementById("search-input").focus();
        }
      </script>
    {% endif %}

    {% if page.use_swiper == true %}
      <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    {% endif %}

    <title>{{ page.title | default: site.title }} {% unless page.permalink == '/' %}| ZOO22{% endunless %}</title>
  </head>