{% assign show = include.show %}
<div class="card-show my-4">
	<div class="card-body">
		{% if show.image and show.image != empty %}
		<div class="show-image">
			<img src="{{ show.image }}" alt="{{ show.title }} icon">
		</div>
		{% endif %}
		<h3>{{ show.title }}</h3>
		{% if show.start_time and show.start_time != empty %}
			<p><i class="far fa-clock fa-fw text-zoo-orange"></i>&nbsp;{{ show.start_time | date: "%R" }} {% if show.duration and show.duration !=empty %}({{ show.duration }}){% endif %}</p>
		{% endif %}
		{% if show.price and show.price.standard and show.price.standard != empty %}
			<p><i class="fa fa-ticket-alt fa-fw text-zoo-orange"></i>&nbsp;{{ show.price.standard }} {% if show.price.concession and show.price.concession != empty %}({{ show.price.concession }}){% endif %}</p>
		{% endif %}
		<div class="buttons mb-3">
			<a class="btn-zoo-book btn-outline-info w-25" role="button">Book Tickets</a>
			<a class="btn-zoo-book btn-info w-25" role="button" href="/programme/{{ show.title | remove: "'" | slugify }}">Read more</a>
		</div>
	</div>
	<div class="card-footer bg-transparent">
		{% include components/dates.html show=show %}
	</div>
</div>