{% assign show = include.show %}
<div class="card-show my-4">
	<div class="card-body">
		{% include show/show-image.html show=show %}
		
		<h3 class="{% if show.company and show.company != empty %}mb-0{% endif %}">{{ show.title }}</h3>
		{% if show.company and show.company != empty %}<p class="fs-4 bebas text-muted fw-lighter">{{ show.company }}</p>{% endif %}
		{% if show.start_time and show.start_time != empty %}
			<p><i class="far fa-clock fa-fw text-zoo-orange"></i>&nbsp;{{ show.start_time | date: "%R" }} {% if show.duration and show.duration !=empty %}({{ show.duration }}){% endif %}</p>
		{% endif %}
		{% if show.price and show.price.standard and show.price.standard != empty %}
			<p><i class="fa fa-ticket-alt fa-fw text-zoo-orange"></i>&nbsp;£{{ show.price.standard }} {% if show.price.concession and show.price.concession != empty %}(£{{ show.price.concession }}){% endif %}</p>
		{% endif %}
		{% include show/buttons.html show=show %}
	</div>
	<div class="card-footer bg-transparent">
		{% include components/dates.html show=show %}
	</div>
</div>