{% assign show = include.show %}
<div class="card-show-slider">
	<div class="card-header">
		{% include show/show-image.html show=show slider=true %}
	</div>
	<div class="card-body mx-1">
		<div class="text-center">
			{% include show/show-title.html show=show %}
		</div>
		<div class="mx-auto w-auto">
			{% include show/show-time.html show=show %}
			<p><i class="fa fa-calendar-alt fa-fw text-zoo-orange"></i> {% include text/date-text.html show=show %}</p>
		</div>
	</div>
	<div class="card-footer">
		{% if show.copy_short and show.copy_short != empty %}{% assign has_short = true %}{% endif %}
		{% if show.copy_long and show.copy_long != empty %}{% assign has_long = true %}{% endif %}
		{% if has_short or has_long %}
			{{ show.copy_short | default: show.copy_long | truncate: 100 | markdownify }}
		{% endif %}
		{% include show/buttons.html show=show %}
	</div>
</div>