{% if include.show and include.show.related_shows %}
	{% assign ymal = include.show.related_shows %}
{% else %}
	{% if include.show %}
		{% assign this_show = include.show %}
	{% else %}
		{% assign this_show = page %}
	{% endif %}
	{% assign ymal = site.data.shows | where_exp:'show','show.title != this_show.title' %}
{% endif %}
{% assign ymal = ymal | where_exp: "show", "show.is_draft!=true" %}
{% assign ymal = ymal | sample: 5 %}

<div class="row">
	{% include components/swiper.html shows=ymal %}
</div>
<div class="row mt-4">
	<div class="col-12 col-md-6 offset-md-3 text-center">
		<a class="btn-zoo-book btn-outline-info btn-lg w-100 icon-animation icon-animation-end" role="button" href="{% link _content/programme.md %}">Or browse the full programme <i class="fa fa-fw fa-book"></i></a>
	</div>
</div>