---
layout: default 
--- 

<div class="container-fluid bg-black min-vh-100 d-flex align-content-between flex-wrap py-5 text-center">
	<div class="row w-100">
		<div class="col-12 col-md-8 offset-md-2 my-auto">
			<img src="/static/img/zoo-logo.png" class="img-responsive w-50" alt="ZOO">
		</div>
	</div>
	<div class="row w-100">
		<div class="col-12 col-md-8 offset-md-2 my-auto">
			<h2 class="display-2 text-zoo-background">
				We're back. <br>
				Come and say hello.
			</h2>
		</div>
	</div>
	<div class="row w-100">
		<div class="col-12 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3 d-lg-flex flex-row justify-content-evenly">
			<a class="btn-zoo-pill btn-light btn-lg bebas mb-4 mb-lg-0" href="/">Watch the trailer</a><br>
			<a class="btn-zoo-pill btn-primary btn-lg bebas" href="#top-of-content">Take me to the shows <i class="fa fa-arrow-down"></i></a>
		</div>
	</div>
</div>

<div class="container my-2 py-3">
	<div class="row mb-2">
		<div class="col-12 col-md-8 col-lg-6">
			<h2 class="display-3 mb-0" id="top-of-content">Fringe 2022 Programme</h2>
		</div>
		<div class="col-12 col-md-4 col-lg-6 h-100 my-auto">
			<a href="#" role="button" class="btn-zoo btn-primary bebas float-md-end rounded-0 btn-lg icon-animation">Full programme&nbsp;<i class="fa fa-book"></i></a>
		</div>
	</div>
	<div class="row mb-4">
		<div class="col-12 col-md-6">
			<div class="card rounded-0">
				<div class="card-title p-4 pb-0"><h3>Five Encounters</h3></div>
				<div class="card-body">
					<img class="img-responsive me-2 mb-2" src="https://placekitten.com/250/250" style="float:left">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
				<div class="card-footer text-center">
					<div class="row">
						<div class="col-12 col-lg-8 my-auto">
							<p class="small text-muted">Dates: 1st, 2nd, 3rd</p>
						</div>
						<div class="col-12 col-lg-4 my-auto">
							<a class="btn-zoo-pill btn-primary btn-sm mx-auto rounded-0 mb-2">Book Tickets</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-6">
			<div class="card rounded-0 h-100">
				<div class="card-title p-4 pb-0"><h3>Five Encounters</h3></div>
				<div class="card-body">
					<img class="img-responsive me-2 mb-2" src="https://placekitten.com/250/250?image=4" style="float:left">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
				<div class="card-footer text-center">
					<div class="row">
						<div class="col-12 col-lg-8 my-auto">
							<p class="small text-muted">Dates: 1st, 2nd, 3rd</p>
						</div>
						<div class="col-12 col-lg-4 my-auto">
							<a class="btn-zoo-pill btn-primary btn-sm mx-auto rounded-0 mb-2">Book Tickets</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid bg-zoo-slate text-light py-5 px-md-4">
	<div class="row">
		<div class="col-12">
			<h2 class="display-2">Come and find us</h2>
		</div>
		<div class="col-12 col-lg-6 col-xl-4">
			<iframe width='100%' height='400px' src="https://api.mapbox.com/styles/v1/samozzy/cl1f2wmv3003z15qsfpq3elex.html?title=false&access_token=pk.eyJ1Ijoic2Ftb3p6eSIsImEiOiJjbDFmMnM0bWowMHFlM2tybzVnczIzb3l3In0.0yWWY5Dcu_ncqpwGlw1p8g&zoomwheel=true&search=false#17.41/55.944312/-3.184133" title="ZOO Southside" style="border:none;"></iframe>
		</div>
		<div class="col-12 col-lg-6 col-xl-8">
			<p>ZOO Venues - Southside</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
	</div>
</div>