---
layout: default 
--- 

<div class="container-fluid bg-zoo-white d-flex align-content-between flex-wrap pt-4 pb-4 text-center">
	<div class="row w-75 mx-auto my-4">
		<div class="ratio ratio-16x9 h-100 mb-4">
			<iframe src="https://player.vimeo.com/video/586812947?h=0c9f6ed95a&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="ZOOTV trailer 2021"></iframe><script src="https://player.vimeo.com/api/player.js"></script>
		</div>
	</div>
	<div class="row w-100">
		<div class="col-12 col-md-8 offset-md-2 my-auto">
			<h2 class="display-2 text-zoo-black">
				We're back. <br>
				Come and say hello.
			</h2>
		</div>
	</div>
	<div class="row w-100">
		<div class="col-12 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3 d-lg-flex flex-row justify-content-evenly">
			<a class="bebas text-decoration-none icon-animation icon-animation-down" href="#top-of-content"><i class="fa fa-chevron-down"></i></a>
		</div>
	</div>
</div>

<div class="container-fluid py-4 px-md-4 mb-2 bg-primary text-light">
	<div class="row">
		<div class="col-12 col-md-8 col-lg-6">
			<h2 class="display-3 mb-0" id="top-of-content">Fringe 2022 Programme</h2>
		</div>
		<div class="col-12 col-md-4 col-lg-6 h-100 my-auto d-flex">
			<a href="{% link _content/programme.md %}" role="button" class="btn-zoo btn-secondary bebas ms-lg-auto rounded-0 shadow-sm btn-lg icon-animation icon-animation-end">Full programme&nbsp;<i class="fa fa-book"></i></a>
		</div>
	</div>
</div>
<div class="container-fluid px-5 my-2 py-4">
	<div class="row">
		<div class="col-12 d-flex px-0">
			{% assign featured_shows = site.data.shows | sample: 3 %}
			{% include components/swiper.html shows=featured_shows full_programme_cta=true %}
		</div>
	</div>
</div>

<div class="container-fluid bg-zoo-slate text-light py-4 px-md-4">
	<div class="row">
		<div class="col-12">
			<h2 class="display-2">Come and find us</h2>
		</div>
		<div class="col-12 col-lg-6 col-xl-4">
			<iframe width='100%' height='400px' src="https://api.mapbox.com/styles/v1/samozzy/cl1f2wmv3003z15qsfpq3elex.html?title=false&access_token=pk.eyJ1Ijoic2Ftb3p6eSIsImEiOiJjbDFmMnM0bWowMHFlM2tybzVnczIzb3l3In0.0yWWY5Dcu_ncqpwGlw1p8g&zoomwheel=true&search=false#17.41/55.944312/-3.184133" title="ZOO Southside" style="border:none;"></iframe>
		</div>
		<div class="col-12 col-lg-6 col-xl-8">
			<p>ZOO Venues - Southside</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
	</div>
</div>