---
layout: default
---

{% assign today_date = "now" | date: "%Y-%m-%d %H:%M" %}
{% assign launch_date = site.dates.launch | date: "%Y-%m-%d %H:%M" %}
{% if today_date < launch_date %}
	{% assign pre_launch = true %}
{% endif %}

<div class="container-fluid bg-zoo-white px-0">
	<div class="row homepage-banner p-4 mx-0">
		<div class="d-block d-lg-none header-logo">{% include components/header-logo.html color='white' %}</div>
		<div class="col-12 col-md-8 text-center text-md-start my-md-auto mb-4">
	        <h1 class="display-2 mb-0 text-light" id="top-of-content">{% include components/logo-in-title.html logo='white'  %} 2023 Programme</h1>
		</div>
        {% unless pre_launch %}
		<div class="col-12 col-md-4 text-center text-md-end my-auto">
			<a href="{% link _content/programme.md %}" role="button" class="btn-zoo btn-secondary bebas rounded-0 shadow-sm btn-lg icon-animation icon-animation-end">Full programme&nbsp;<i class="fa fa-book"></i></a>
		</div>
        {% endunless %}
	</div>
	<div class="row mx-auto">
		<!-- <div class="ratio ratio-16x9 h-100 mb-4 bg-zoo-black"> -->
		<div class="trailer-wrapper w-100 bg-zoo-black shadow" style="position:relative;">
			<div style="padding:56.25% 0 0 0;position:relative;">
				<iframe id="trailer_iframe" class="trailer" src="https://player.vimeo.com/video/832212967?h=e146d61a1c&title=0&byline=0&portrait=0&badge=0&autopause=0&player_id=0&app_id=58479&controls=false" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen autoplay title="ZOO Trailer 2023"></iframe>
			</div>

			<!-- <iframe id="trailer_iframe" class="trailer" src="https://player.vimeo.com/video/717240332?h=42be0f6af8&badge=0&autopause=0&player_id=0&app_id=58479&controls=false" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen autoplay title="ZOOTV trailer 2021"></iframe> -->
			<script src="https://player.vimeo.com/api/player.js"></script>
			<button data-bs-toggle="tooltip" title="Contains flashing images" data-bs-placement="bottom" class="trailer-play btn-zoo-pill btn-lg btn-info bebas mx-auto" onClick=togglePlay() id="play_button">Play</button>
			<button class="trailer-volume btn-zoo-pill btn-lg btn-info" onclick=toggleMute() id="mute_button"><i class="fa fa-volume-mute"></i></button>
		</div>
	</div>
	<script>
		var trailer = new Vimeo.Player(document.getElementById('trailer_iframe'))
		trailer.setVolume(0)
		var play_button = document.getElementById('play_button')
		var mute_button = document.getElementById('mute_button')
		function togglePlay(){
			trailer.getPaused().then(pausedState => {
				if (pausedState == true){
					trailer.play()
					play_button.innerText = 'Pause'
				}
				else {
					trailer.pause()
					play_button.innerText = 'Play'
				}
				return pausedState;
			})
		}
		function toggleMute(){
			trailer.getVolume().then(volumeLevel => {
				if (volumeLevel == 0){
					trailer.setVolume(0.3)
					mute_button.querySelector('i').classList.add('fa-volume-down')
					mute_button.querySelector('i').classList.remove('fa-volume-mute')
				}
				else {
					trailer.setVolume(0)
					mute_button.querySelector('i').classList.remove('fa-volume-down')
					mute_button.querySelector('i').classList.add('fa-volume-mute')
				}
			})
		}
	</script>
</div>
<div class="container-sm mt-5 mb-4">
	<div class="row">
		<div class="col-12 col-md-8 offset-md-2 my-auto text-center">
			<h2 class="display-2 text-zoo-black">
				{% if pre_launch %}
					{% assign minutes = site.dates.launch | date: "%M" %}
					{% if minutes == '00' %}{% assign launch_time = site.dates.launch | date: "%l%P" %}
					{% else %}{% assign launch_time = site.dates.launch | date: "%l:%M%P" %}
					{% endif %}
					We're back. <br>
					Full programme announced <br>{{ site.dates.launch | date_to_long_string: "ordinal" }} at {{ launch_time }}
				{% else %}
					{{ content | remove: '<p>' | remove: '</p>' }}
				{% endif %}
			</h2>
		</div>
	</div>
</div>

{% unless pre_launch %}
<div class="container-fluid px-5 mt-2 mb-5 py-4">
	<div class="row">
		<div class="col-12 d-flex px-0">
			{% assign available_shows = site.data.shows | where_exp: "show", "show.is_draft!=true" %}
			{% assign featured_shows = available_shows | sample: 3 %}
			{% include components/swiper.html shows=featured_shows full_programme_cta=true %}
		</div>
	</div>
</div>

<div class="container-fluid bg-zoo-slate text-light py-4 px-md-4">
	<div class="row">
		<div class="col-12">
			<h2 class="display-2">Come and find us</h2>
		</div>
		<div class="col-12 col-lg-6 col-xl-4">
			<iframe width='100%' height='400px' src="https://api.mapbox.com/styles/v1/samozzy/cl1f2wmv3003z15qsfpq3elex.html?title=false&access_token=pk.eyJ1Ijoic2Ftb3p6eSIsImEiOiJjbDFmMnM0bWowMHFlM2tybzVnczIzb3l3In0.0yWWY5Dcu_ncqpwGlw1p8g&zoomwheel=true&search=false#17.41/55.944312/-3.184133" title="ZOO Southside" style="border:none;"></iframe>
		</div>
		<div class="col-12 col-lg-6 col-xl-8">
			<h3>Zoo Southside</h3>
			<p>Hosting a beautiful theatre with one of the largest stages at the Fringe; an intimate black-box thrust studio; and our Cabaret Bar for both drinks as well as intimate performances, Southside is the perfect place to enjoy a day at the Fringe.</p>
			<p><i class="fa fa-map-marker-alt text-zoo-orange"></i> 117 Nicolson Street, Edinburgh, EH8 9ER <small><a class="text-zoo-orange text-decoration-none ms-2" href="https://www.google.co.uk/maps/dir//117+Nicolson+St,+Newington,+Edinburgh+EH8+9ER/@55.9442795,-3.1863222,17z/data=!4m17!1m7!3m6!1s0x4887c783fcc49059:0x55f9374b008095af!2s117+Nicolson+St,+Newington,+Edinburgh+EH8+9ER!3b1!8m2!3d55.9442795!4d-3.1841335!4m8!1m0!1m5!1m1!1s0x4887c783fcc49059:0x55f9374b008095af!2m2!1d-3.1841335!2d55.9442795!3e2" target="_blank">Get directions</a></small></p>
			<h3>Zoo Playground</h3>
			<p>ZOO's new work hub returns with some of the most exiting performance makers in the world showcasing their small scale work across 3 studios. Outside enjoy the relaxing hidden courtyard bar with local beer and wonderful cocktails.</p>
			<p><i class="fa fa-map-marker-alt text-zoo-orange"></i> High School Yards, Edinburgh EH1 1LZ <small><a class="text-zoo-orange text-decoration-none ms-2" href="https://www.google.co.uk/maps/dir//High+School+Yards,+Edinburgh+EH1+1LZ/@55.9485698,-3.1886372,16z/data=!3m1!4b1!4m9!4m8!1m0!1m5!1m1!1s0x4887c78675e135d1:0xa64eba091bb8e702!2m2!1d-3.1842598!2d55.9485699!3e2" target="_blank">Get directions</a></p>
			<p>{% include text/access-link.html %}</p>
		</div>
	</div>
</div>
{% endunless %}
