---
layout: page
---

<div class="container my-4 p-4 border-2px border-zoo-orange shadow">
	<div class="row">
		<div class="col-12">
			<div class="d-flex justify-content-between">
				<button class="programme-menu active" type="button" data-bs-toggle="collapse" data-bs-target="#filter-box" aria-expanded="false" aria-controls="filter-box" id="filter-box-button"><i class="fa fa-fw fa-star"></i>&nbsp;Find something for you</button>
				<button class="programme-menu" type="button" data-bs-toggle="collapse" data-bs-target="#search-box" aria-expanded="false" aria-controls="search-box" id="search-box-button" onclick="focusSearch()"><i class="fa fa-search"></i>&nbsp;Search for what you're looking for</button>
				<button class="programme-menu"><i class="fa fa-fw fa-book"></i>&nbsp;Browse the full programme</button>
			</div>
		</div>
	</div>
	<div class="mx-4" id="control-area"> 
		<div id="search-box" class="collapse mt-5 row" data-bs-parent="#control-area">
			<div class="col-12">
				<input class="form-control form-control-lg fa-font search-box-icon border-zoo-orange" type="text" placeholder="&#xF002; Search" aria-label="Search for a show" id="search-input">
				<p class="mt-2"><span class="helper-text d-none" id="search-hint">(Give us a bit more please)</span>&nbsp;</p>
			</div>
			<div class="col w-100 text-center">
				<button class="close-button" type="button" data-bs-toggle="collapse" data-bs-target="#search-box" aria-expanded="false" aria-controls="search-box">Close this <i class="fa fa-chevron-up fa-fw"></i></button>
			</div>
		</div>

		<div id="filter-box" class="collapse mt-4 row row-cols-md-2 show" data-bs-parent="#control-area">
			<div class="col w-100"><p class="fs-2 bebas">I want a show...</p></div>
			<div class="col">
				<div class="card-programme">
					<div class="card-header" data-bs-toggle="collapse" data-bs-target="#filter-date" aria-expanded="false" aria-controls="filter-date">
						<p>On these dates <i class="fa fa-chevron-down fa-fw float-end"></i></p>
					</div>
					<div class="card-body collapse" id="filter-date">
						<input id="datepicker" class="d-none" />
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card-programme">
					<div class="card-header" data-bs-toggle="collapse" data-bs-target="#filter-time" aria-expanded="false" aria-controls="filter-time">
						<p>At these times <i class="fa fa-chevron-down fa-fw float-end"></i></p>
					</div>
					<div class="collapse" id="filter-time">
						<div class="card-body">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
						<div class="card-footer">
							<p class="helper-text text-end"><a onclick=clearTimeCheckboxes()><i class="fa fa-fw fa-undo"></i>&nbsp;Clear selection</a></p>
						</div>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card-programme">
					<div class="card-header" data-bs-toggle="collapse" data-bs-target="#filter-price" aria-expanded="false" aria-controls="filter-price">
						<p>Within this ticket price range <span id="filter-price-counter"></span> <i class="fa fa-chevron-down fa-fw float-end"></i></p>
					</div>
					<div class="collapse" id="filter-price">
						<div class="card-body">

							{% assign highest_priced_show = site.data.shows | sort: "price.standard" | reverse | first %}
							{% assign highest_price = highest_priced_show.price.standard %}
							{% assign price_int = highest_price | divided_by: 5 %}
							{% assign price_float = highest_price | divided_by: 5.0 %}
							{% if price_int == price_float %}
								{% assign highest_five = price_int %}
							{% else %}
								{% assign highest_five = price_float | split: '.' | first | plus: 1 | times: 1 %}
							{% endif %}
							{% for given_price in (0..highest_five) %}
								{% assign this_price = given_price | times: 5 %}
								{% assign next_price = given_price | plus: 1 | times: 5 %}
								<input type="checkbox" name="filter-price-item" class="btn-check" id="filter-price-{{ given_price }}" autocomplete="off" value="{{ this_price }},{{ next_price }}">
								<label id="btn-price-{{this_price}}-{{next_price}}" class="btn-filter btn-price" for="filter-price-{{ given_price }}">£{{ this_price }} - £{{ next_price }}</label>
							{% endfor %}
						</div>
						<div class="card-footer">
							<p class="helper-text text-end"><a onclick=clearPriceCheckboxes()><i class="fa fa-fw fa-undo"></i>&nbsp;Clear selection</a></p>
						</div>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card-programme">
					<div class="card-header" data-bs-toggle="collapse" data-bs-target="#filter-age" aria-expanded="false" aria-controls="filter-age">
						<p>With this age rating <i class="fa fa-chevron-down fa-fw float-end"></i></p>
					</div>
					<div class="collapse" id="filter-age">
						<div class="card-body">
							<div class="d-flex flex-row">
								{% for rating in site.data.age-ratings %}
									<input type="checkbox" class="btn-check" id="age-rating-{{ rating | slugify }}" autocomplete="off">
									<label class="btn-filter btn-age" for="age-rating-{{ rating | slugify }}">{{ rating }}</label><br>
								{% endfor %}
							</div>
						</div>
						<div class="card-footer">
							<p class="helper-text text-end"><a onclick=clearAgeCheckboxes()><i class="fa fa-fw fa-undo"></i>&nbsp;Clear selection</a></p>
						</div>
					</div>
				</div>
			</div>
			{% assign genres_data = site.data.shows | map: "genre" | uniq  %}
			{% assign genres = '' | split: ''  %}
			{% for g in genres_data %}{% if g != nil %}{% assign genres = genres | push: g %}{% endif %}{% endfor %}
			{% assign genres = genres | sort %}
			{% unless genres.size <= 1 %}
			<div class="col">
				<div class="card-programme">
					<div class="card-header" data-bs-toggle="collapse" data-bs-target="#filter-genre" aria-expanded="false" aria-controls="filter-genre">
						<p>In these genres <span id="filter-genre-counter"></span> <i class="fa fa-chevron-down fa-fw float-end"></i></p>
					</div>
					<div class="collapse" id="filter-genre">
						<div class="card-body">
							{% for genre in genres %}
								<input type="checkbox" name="filter-genre-item" class="btn-check" id="filter-genre-{{ genre | slugify }}" autocomplete="off" value="{{genre | slugify}}">
								<label id="btn-genre-{{genre|slugify}}" class="btn-filter btn-genre" for="filter-genre-{{ genre | slugify }}">{{ genre }}</label>
							{% endfor %}
						</div>
						<div class="card-footer">
							<p class="helper-text text-end"><a onclick=clearGenreCheckboxes()><i class="fa fa-fw fa-undo"></i>&nbsp;Clear selection</a></p>
						</div>
					</div>
				</div>
			</div>
			{% endunless %}
			<div class="col">
				<div class="card-programme">
					<div class="card-header" data-bs-toggle="collapse" data-bs-target="#filter-access" aria-expanded="false" aria-controls="filter-access">
						<p>With these access provisions <span id="filter-access-counter"></span> <i class="fa fa-chevron-down fa-fw float-end"></i></p>
					</div>
					<div class="collapse" id="filter-access">
						<div class="card-body">
							<p class="lead">Access</p>
							<span>Captions; BSL; Relaxed</span>
							<hr class="w-100">
							<p class="lead">Content Warnings</p>
							<span>Strobe; Strong language</span>
						</div>
						<div class="card-footer">
							<p class="helper-text text-end"><a onclick=clearAccessCheckboxes()><i class="fa fa-fw fa-undo"></i>&nbsp;Clear selection</a></p>
						</div>
					</div>
				</div>
			</div>
			<div class="col w-100 text-center">
				<button class="close-button" type="button" data-bs-toggle="collapse" data-bs-target="#filter-box" aria-expanded="false" aria-controls="filter-box">Close this <i class="fa fa-chevron-up fa-fw"></i></button>
			</div>
		</div>
	</div>
</div>



{{ content }}

<div class="container"> 
	<div id="show-list" class="row row-cols-md-2 mb-5">
		<div class="d-none col w-100 text-center no-results" id="no-result-text">
			<p class="lead"><em>No results for this set of filters</em></p>
		</div>
		{% for show in site.data.shows %}
			<div class="col programme-show-container d-block" data-search="{{ show.title | downcase | remove: ' ' }} {{ show.company | downcase | remove: ' ' }}" data-price={{ show.price.concession | default: show.price.standard }} data-genre="{{ show.genre | join:',' | slugify }}" id="{{ show.title | slugify }}">
				{% include components/show-card-small.html show=show %}
			</div>
		{% endfor %}
	</div>
</div>

<script>

	// When #activate-search onClick, remove .d-none from #search-box 
	// SEARCH
		// Fuzzy search on the entire data selection across title, company, blurb 

</script>
	
