---
layout: page
---

<div class="container my-4 p-4 border-2px border-zoo-orange shadow">
	<div class="row">
		<div class="col-12">
			<div class="d-flex justify-content-between">
				<button class="programme-menu active" type="button" data-bs-toggle="collapse" data-bs-target="#filter-box" aria-expanded="false" aria-controls="filter-box" id="filter-box-button">Find something for you</button>
				<button class="programme-menu" type="button" data-bs-toggle="collapse" data-bs-target="#search-box" aria-expanded="false" aria-controls="search-box" id="search-box-button" onclick="focusSearch()">Search for what you're looking for</button>
				<a role="button" data-bs-toggle="tooltip" title="Clear all filters and search queries" class="programme-menu" href="#show-list">Browse the full programme</a>
			</div>
		</div>
	</div>
	<div class="mx-4" id="control-area"> 
		<!-- Search Box -->
		<div id="search-box" class="collapse mt-5 row" data-bs-parent="#control-area">
			<div class="col-12">
				<input class="form-control form-control-lg fa-font search-box-icon border-zoo-orange" type="search" placeholder="&#xF002; Search" aria-label="Search for a show" id="search-input">
				<p class="mt-2"><span class="helper-text d-none" id="search-hint">(Give us a bit more please)</span>&nbsp;</p>
			</div>
			<div class="col w-100 text-center">
				<button class="close-button" type="button" data-bs-toggle="collapse" data-bs-target="#search-box" aria-expanded="false" aria-controls="search-box">Close this <i class="fa fa-chevron-up fa-fw"></i></button>
			</div>
		</div>
		<!-- Filter Menu Box -->
		<div id="filter-box" class="collapse mt-4 row row-cols-md-2 show" data-bs-parent="#control-area">
			<div class="col w-100"><p class="fs-2 bebas">I want a show...</p></div>
			<!-- Dates -->
			<div class="col">
				<div class="card-programme">
					<div class="card-header" data-bs-toggle="collapse" data-bs-target="#filter-date" aria-expanded="false" aria-controls="filter-date">
						<p>On these dates<i class="fa fa-chevron-down fa-fw float-end"></i></p>
					</div>
					<div class="collapse" id="filter-date">
						<div class="card-body d-flex justify-content-around">
							<input id="datepicker" class="d-none"/>
						</div>
						<div class="card-footer">
							<p class="helper-text text-end"><a onclick=clearDatePick()><i class="fa fa-fw fa-undo"></i>&nbsp;Clear selection</a></p>
						</div>
					</div>
				</div>
			</div>
			<!-- Times -->
			<div class="col">
				<div class="card-programme">
					<div class="card-header" data-bs-toggle="collapse" data-bs-target="#filter-time" aria-expanded="false" aria-controls="filter-time">
						<p>At these times<i class="fa fa-chevron-down fa-fw float-end"></i></p>
					</div>
					<div class="collapse" id="filter-time">
						<div class="card-body">
							 {% assign earliest_secs = site.earliest_time | date: "%s" %}
							 {% assign latest_secs = site.latest_time | date: "%s" %}

							 {% assign hours_different = latest_secs | minus: earliest_secs | date: "%H" | minus: 1 %}
							 {% for i in (0..hours_different) %}
							 	{% assign diff = i | times: 3600 %}
							 	{% assign this_time = earliest_secs | plus: diff | date: "%H" %}
							 	{% assign this_time_string = earliest_secs | plus:diff | date : "%H:%M" %}

							 	<input type="checkbox" name="filter-time-item" class="btn-check" id="filter-time-{{ this_time }}" autocomplete="off" value="{{ this_time }}">
								<label id="btn-time-{{this_time}}" class="btn-filter btn-time" for="filter-time-{{ this_time }}">{{ this_time_string }}</label>
							 {% endfor %}


						</div>
						<div class="card-footer">
							<p class="helper-text text-end"><a onclick=clearTimeCheckboxes()><i class="fa fa-fw fa-undo"></i>&nbsp;Clear selection</a></p>
						</div>
					</div>
				</div>
			</div>
			<!-- Prices -->
			<div class="col">
				<div class="card-programme">
					<div class="card-header" data-bs-toggle="collapse" data-bs-target="#filter-price" aria-expanded="false" aria-controls="filter-price">
						<p>Within this ticket price range <i class="fa fa-chevron-down fa-fw float-end"></i></p>
					</div>
					<div class="collapse" id="filter-price">
						<div class="card-body">
							{% assign highest_priced_show = site.data.shows | sort: "price.standard" | reverse | first %}
							{% assign highest_price = highest_priced_show.price.standard %}

							{% assign price_float = highest_price | divided_by: 5.0 %}
							{% assign price_rounded = price_float | round %}
							{% if price_rounded == price_float %}
								{% assign highest_five = price_rounded | minus: 1 %}
							{% else %}
								{% assign highest_five = price_float | floor | times: 1 %}
							{% endif %}
							{% for given_price in (0..highest_five) %}
								{% assign this_price = given_price | times: 5 %}
								{% assign next_price = given_price | plus: 1 | times: 5 %}
								<input type="checkbox" name="filter-price-item" class="btn-check" id="filter-price-{{ given_price }}" autocomplete="off" value="{{ this_price }},{{ next_price }}">
								<label id="btn-price-{{this_price}}-{{next_price}}" class="btn-filter btn-price" for="filter-price-{{ given_price }}">£{{ this_price }} - £{{ next_price }}</label>
							{% endfor %}
						</div>
						<div class="card-footer">
							<p class="helper-text text-end"><a onclick=clearPriceCheckboxes()><i class="fa fa-fw fa-undo"></i>&nbsp;Clear selection</a></p>
						</div>
					</div>
				</div>
			</div>
			<!-- Age Ratings -->
			<div class="col">
				<div class="card-programme">
					<div class="card-header" data-bs-toggle="collapse" data-bs-target="#filter-age" aria-expanded="false" aria-controls="filter-age">
						<p>With this age guidance <i class="fa fa-chevron-down fa-fw float-end"></i></p>
					</div>
					<div class="collapse" id="filter-age">
						<div class="card-body">
							<div class="d-flex flex-row flex-wrap">
								{% for rating in site.data.age-ratings %}
									<input type="checkbox" name="filter-age-item" class="btn-check" id="age-{{ rating | slugify }}" autocomplete="off" value="{{ rating | slugify }}">
									<label id="btn-age-{{ rating | slugify }}" class="btn-filter btn-age" for="age-{{ rating | slugify }}">{{ rating }}</label><br>
								{% endfor %}
							</div>
						</div>
						<div class="card-footer">
							<p class="helper-text text-end"><a onclick=clearAgeCheckboxes()><i class="fa fa-fw fa-undo"></i>&nbsp;Clear selection</a></p>
						</div>
					</div>
				</div>
			</div>
			<!-- Genres -->
			{% assign genres_data = site.data.shows | map: "genre" | compact | uniq %}
			{% assign genres = "" | split: "" %}
			{% for g in genres_data %}
				{% assign gs = g | strip | downcase %}
				{% unless genres contains gs %}{% assign genres = genres | push: gs %}{% endunless %}
			{% endfor %}
			{% assign genres = genres | sort_natural %}
			{% unless genres.size <= 1 %}
			<div class="col">
				<div class="card-programme">
					<div class="card-header" data-bs-toggle="collapse" data-bs-target="#filter-genre" aria-expanded="false" aria-controls="filter-genre">
						<p>Tagged as <i class="fa fa-chevron-down fa-fw float-end"></i></p>
					</div>
					<div class="collapse" id="filter-genre">
						<div class="card-body">
							{% for genre in genres %}
								<input type="checkbox" name="filter-genre-item" class="btn-check" id="filter-genre-{{ genre | slugify }}" autocomplete="off" value="{{genre | slugify}}">
								<label id="btn-genre-{{genre|slugify}}" class="btn-filter btn-genre" for="filter-genre-{{ genre | slugify }}">{{ genre }}</label>
							{% endfor %}
						</div>
						<div class="card-footer">
							<p class="helper-text text-end"><a onclick=clearGenreCheckboxes()><i class="fa fa-fw fa-undo"></i>&nbsp;Clear selection</a></p>
						</div>
					</div>
				</div>
			</div>
			{% endunless %}
			<!-- Access and Content Warnings -->
			{% assign content_warnings_data = site.data.shows | map: "content_warnings" | compact | uniq %}
			{% assign content_warnings = "" | split: "" %}
			{% for g in content_warnings_data %}
				{% assign gs = g | strip | downcase %}
				{% unless content_warnings contains gs %}{% assign content_warnings = content_warnings | push: gs %}{% endunless %}
			{% endfor %}
			{% assign content_warnings = content_warnings | sort_natural %}

			{% assign access_data = site.data.shows | map: "access" | compact | uniq %}
			{% assign access = "" | split: "" %}
			{% for g in access_data %}
				{% assign gs = g | strip | downcase %}
				{% unless access contains gs %}{% assign access = access | push: gs %}{% endunless %}
			{% endfor %}
			{% assign access = access | sort_natural %}

			{% unless access.size <= 1 and content_warnings.size <= 1 %}
			<div class="col">
				<div class="card-programme">
					<div class="card-header" data-bs-toggle="collapse" data-bs-target="#filter-access" aria-expanded="false" aria-controls="filter-access">
						<p>With these access provisions <i class="fa fa-chevron-down fa-fw float-end"></i></p>
					</div>
					<div class="collapse" id="filter-access">
						<div class="card-body">
							<p class="lead">Access</p>
							{% for access_item in access %}
								{% assign matching_icon = site.data.icons | where: "title", access_item | first %}
								<input type="checkbox" name="filter-access-item" class="btn-check" id="filter-access-{{ access_item | slugify }}" autocomplete="off" value="{{access_item | slugify}}">
								<label id="btn-access-{{access_item|slugify}}" class="btn-filter btn-access" for="filter-access-{{ access_item | slugify }}">{% if matching_icon %}<i class="{{ matching_icon.icon }}"></i>&nbsp;{% endif %}{{ access_item }}</label>
							{% endfor %}
							<p class="ms-1 helper-text text-muted"><i class="fa fa-fw fa-wheelchair"></i>&nbsp;Note: All our venues and spaces are wheelchair accessible.</p>
							<hr class="w-100">
							<p class="lead">Content Warnings</p>
							{% for cw in content_warnings %}
								<input type="checkbox" name="filter-content-warning-item" class="btn-check" id="filter-content-warning-{{ cw | slugify }}" autocomplete="off" value="{{cw | slugify}}" checked>
								<label id="btn-content-warning-{{cw|slugify}}" class="btn-filter btn-cw" for="filter-content-warning-{{ cw | slugify }}">{{ cw }}</label>
							{% endfor %}
							<p class="helper-text text-muted ms-1 mt-1"><i class="fa fa-info-circle"></i>&nbsp;Select a content warning to <strong>remove</strong> shows with that content warning.</p>
						</div>
						<div class="card-footer">
							<p class="helper-text text-end"><a onclick=clearAccessContentCheckboxes()><i class="fa fa-fw fa-undo"></i>&nbsp;Reset</a></p>
						</div>
					</div>
				</div>
			</div>
			{% endunless %}
			<!-- Close filters  -->
			<div class="col w-100 text-center">
				<button class="close-button" type="button" data-bs-toggle="collapse" data-bs-target="#filter-box" aria-expanded="false" aria-controls="filter-box">Close this <i class="fa fa-chevron-up fa-fw"></i></button>
			</div>
		</div>
	</div>
</div>



{{ content }}

<div class="container"> 
	<div id="show-list" class="row row-cols-md-2 mb-5">
		<div class="col w-100">
			<div id="filter-badge-container" class="filter-badge-container d-none">
				<span class="lead">Active filters:</span> 
				<button class="btn btn-sm btn-info bebas filter-badge d-none" onclick="clearSearch()" id="active-filter-search">
					<span>Search<span id="active-filter-search-list"></span></span>
					<div class="icons d-inline">
						<i class="far fa-times-circle"></i>
						<i class="fa fa-times-circle"></i>
					</div>
				</button>
				<button class="btn btn-sm btn-info bebas filter-badge d-none" onclick="clearDatePick()" id="active-filter-date">
					<span>Date<span id="active-filter-date-list"></span></span>
					<div class="icons d-inline">
						<i class="far fa-times-circle"></i>
						<i class="fa fa-times-circle"></i>
					</div>
				</button>
				<button class="btn btn-sm btn-info bebas filter-badge d-none" onclick="clearTimeCheckboxes()" id="active-filter-time">
					<span>Time<span id="active-filter-time-list"></span></span>
					<div class="icons d-inline">
						<i class="far fa-times-circle"></i>
						<i class="fa fa-times-circle"></i>
					</div>
				</button>
				<button class="btn btn-sm btn-info bebas filter-badge d-none" onclick="clearPriceCheckboxes()" id="active-filter-price">
					<span>Price<span id="active-filter-price-list"></span></span>
					<div class="icons d-inline">
						<i class="far fa-times-circle"></i>
						<i class="fa fa-times-circle"></i>
					</div>
				</button>
				<button class="btn btn-sm btn-info bebas filter-badge d-none" onclick="clearAgeCheckboxes()" id="active-filter-age">
					<span>Age<span id="active-filter-age-list"></span></span>
					<div class="icons d-inline">
						<i class="far fa-times-circle"></i>
						<i class="fa fa-times-circle"></i>
					</div>
				</button>
				<button class="btn btn-sm btn-info bebas filter-badge d-none" onclick="clearGenreCheckboxes()" id="active-filter-genre">
					<span>Tags<span id="active-filter-genre-list"></span></span>
					<div class="icons d-inline">
						<i class="far fa-times-circle"></i>
						<i class="fa fa-times-circle"></i>
					</div>
				</button>
				<button class="btn btn-sm btn-info bebas filter-badge d-none" onclick="clearContentWarningCheckboxes()" id="active-filter-content-warning">
					<span>Excluding Content Warnings<span id="active-filter-content-warning-list"></span></span>
					<div class="icons d-inline">
						<i class="far fa-times-circle"></i>
						<i class="fa fa-times-circle"></i>
					</div>
				</button>
				<button class="btn btn-sm btn-info bebas filter-badge d-none" onclick="clearAccessCheckboxes()" id="active-filter-access">
					<span>Access<span id="active-filter-access-list"></span></span>
					<div class="icons d-inline">
						<i class="far fa-times-circle"></i>
						<i class="fa fa-times-circle"></i>
					</div>
				</button>
			</div>
			<div id="filter-results-text" class="d-none lead">
				<span id="filter-results-counter"></span>&nbsp;result<span id="filter-results-counter-plural">s</span>
			</div>
		</div>
		<div class="d-none col w-100 text-center no-results" id="no-result-text">
			<p class="lead"><em>No results for this set of filters</em></p>
		</div>
		{% assign available_shows = site.data.shows | where_exp: "show", "show.is_draft!=true" | sort_natural: "title" %}
		{% for show in available_shows %}
			{% include text/date-text.html show=show no_output=true %}
			<div class="col programme-show-container d-block" 
				data-search="{{ show.title | downcase | remove: ' ' }} {{ show.company | downcase | remove: ' ' }}" 
				data-date_start="{{ first_performance | date: '%Y-%m-%d' }}" 
				data-date_end="{{ last_performance | date: '%Y-%m-%d' }}" 
				data-time="{{ show.start_time | split: ':' | first }}"
				data-age_guidance="{{ show.age_guidance | default: '' }}"
				data-performances="{{ show.performances | join: ',' }}"
				data-price="{{ show.price.concession | default: show.price.standard }}"
				data-genre="{{ show.genre | join:',' | slugify }}"
				data-access="{{ show.access | join: ',' | downcase | slugify | default: '' }}"
				data-content_warnings="{{ show.content_warnings | join: ',' | slugify }}"
				id="{{ show.title | slugify }}"
				>
				{% include components/show-card-small.html show=show %}
			</div>
		{% endfor %}
	</div>
</div>

<script>

	// When #activate-search onClick, remove .d-none from #search-box 
	// SEARCH
		// Fuzzy search on the entire data selection across title, company, blurb 

</script>
	
