---
layout: default 
is_show: true 
use_swiper: true 
---

{% assign show = page %}

<div class="container-md pt-4">
	<div class="row mb-4 show-large">
		{% include components/header-logo.html extra_class="pe-4" %}
		<div class="col-6 offset-3 offset-lg-0 col-lg-4 col-xl-3 order-2 order-lg-1">
			{% include show/show-image.html show=show %}
		</div>
		<div class="col-12 col-lg-8 col-xl-7 order-3 order-lg-2">
			{% include show/show-title.html show=show header_size='h1' header_class='display-2' company_class='display-4' %}
			<div class="icon-row">
				{% if show.price.standard and show.price.standard != empty %}
					{% assign has_price = true %}
					{% capture price_tooltip %}
						{% if show.price.concession %}
							Standard tickets £{{ show.price.standard }}; concession £{{ show.price.concession }}
						{% else %}
							All tickets {% include text/price.html show=show %}
						{% endif %}
					{% endcapture %}
				{% elsif show.price.price_range and show.price.price_range != empty %}
					{% assign has_price = true %}
					{% capture price_tooltip %}
						Tickets available from {{ show.price.price_range }}
					{% endcapture %}
				{% endif %}
				{% if has_price == true %}
					<div class="col mb-4 mb-md-0">
						<i class="fa fa-fw text-zoo-orange fa-ticket-alt fs-2"{% include text/tooltip.html the_tooltip=price_tooltip %}></i><br>
						{% include text/price.html show=show %}
					</div>
				{% endif %}
				{% if show.start_time and show.start_time != empty %}
					<div class="col mb-4 mb-md-0">
						<i class="fa fa-fw text-zoo-orange fa-clock fs-2"></i><br>
						{{ show.start_time }}
						{% if show.duration and show.duration != empty %}
							<br>({{ show.duration }})
						{% endif %}
					</div>
				{% endif %}
				{% if show.venue and show.venue != empty %}
					<div class="col mb-4 mb-md-0">
						<i class="fa fa-fw text-zoo-orange fa-map fs-2"></i><br>
						{{ show.venue | replace: "Zoo ", "ZOO " }}
					</div>
				{% endif %}
				{% if show.access and show.access != empty %}
					{% assign has_access = true %}
					<div class="col mb-4 mb-md-0">
						<i class="fa fa-fw text-zoo-orange fa-universal-access fs-2"></i><br>
						<div class="text-zoo-slate d-flex flex-row justify-content-evenly pt-1">
							{% for a in show.access %}
								{% include text/access.html access_item=a large=true %}
							{% endfor %}
						</div>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
	<div class="row mb-4">
		{% include components/dates.html show=show %}
	</div>
	{% if show.price.ticket_deals and show.price.ticket_deals != empty %}
		<div class="row my-2">
			<div class="col-12">
				<p><i class="fa fa-fw fa-lg fa-ticket-alt text-zoo-orange me-1"></i><strong>Ticket Deals:</strong> {{ show.price.ticket_deals }}</p>
			</div>
		</div>
	{% endif %}
	{% if show.access_details and show.access_details != empty %}
		{% assign has_access_details = true %}
	{% endif %}
	{% if has_access or has_access_details %} 
		<div class="row mt-2 mb-4">
			<div class="col-auto pe-0 mt-1">
				<i class="fa fa-fw fa-lg fa-universal-access text-zoo-orange"></i>
			</div>
			<div class="col">
				<p class="mb-0">
					<strong>Accessible Performances:</strong> 
					{% unless has_access_details %}
						<span class="text-muted">Accessible performance details to be confirmed.</span>
					{% else %}
						{{ show.access_details }}
					{% endunless %}
					<br>{% include text/access-link.html %}
				</p>
			</div>
		</div>
	{% endif %}
	<div class="row">
		<div class="col-12">
			{% include show/buttons.html show=show btn_class='btn-lg' book_primary=true read_string="Keep reading" read_link="#show-details" %}
		</div>
	</div>
</div>
<div class="container py-4">
	<div class="row show-details" id="show-details">
		<div class="col-12 show-blurb">
			{{ show.copy_long | markdownify }}
		</div>
		{% if show.content_warnings and show.content_warnings != empty %}
			{% assign has_advisories = true %}
			{% assign has_cws = true %}
		{% elsif show.content_warning_detail and show.content_warning_detail != empty %}
			{% assign has_advisories = true %}
			{% assign has_cws = true %}
		{% elsif show.age_guidance and show.age_guidance != empty %}
			{% assign has_advisories = true %}
		{% endif %}
		{% if has_advisories %}
			<div class="col-12 col-md-6">
				{% if show.age_guidance and show.age_guidance != empty %}
					<h3 class="text-zoo-orange">Age {% if show.age_restricted == true %}Restriction{% else %}Guidance{% endif %}: {{ show.age_guidance }}</h3>
					{% if show.age_restricted == true %}
						<p class="text-muted small"><i class='fa fa-exclamation-circle'></i> This show is age restricted. ID checks may be in place.</p>
					{% endif %}
				{% endif %}
				{% if has_cws == true %}
					<h3 class="text-zoo-orange">Content Warnings</h3>
					{% if show.content_warnings and show.content_warnings != empty %}
						<ul>
							{% for c in show.content_warnings %}
								<li>{{ c | capitalize }}</li>
							{% endfor %}
						</ul>
					{% endif %}
					{% if show.content_warning_detail and show.content_warning_detail != empty %}
						<p class="lead text-zoo-orange mb-0">Further details</p>
						{{ show.content_warning_detail | join: '<br>' }}
					{% endif %}
				{% endif %}
			</div>
		{% endif %}
		{% if show.genre and show.genre != empty %}
			<div class="col-12 col-md-6">
				<h3 class="text-zoo-orange">Tags</h3>
				<ul>
					{% for g in show.genre %}
						<li>{{ g | capitalize }}</li>
					{% endfor %}
				</ul>
			</div>
		{% endif %}
		<div class="col-12 col-md-6 offset-md-3 text-center mt-4">
			{% include show/buttons.html show=show only_book=true book_primary=true btn_class='btn-lg w-100' %}
		</div>
		{% if show.reviews and show.reviews != empty %}
			{% assign has_reviews = true %}
		{% endif %}
		{% if show.links and show.links != empty %}
			{% assign has_links = true %}
		{% endif %}
		{% if has_reviews %}
			<div class="col-12 my-4">
				<hr>
			</div>
		{% endif %}
		{% if has_reviews %}
			<div class="col-12 d-flex flex-row justify-content-around text-center">
				<div class="row row-cols-1 row-cols-md-2 row-cols-xl-3">
					{% for r in show.reviews %}
						<div class="col show-review mx-auto mb-4">
							{% if r.stars and r.stars != empty and r.stars != 0 %}
								{% assign r_floor = r.stars | floor %}
								{% if r_floor == r.stars %}
									{% assign r_stars = r.stars %}
									{% assign has_half = false %}
								{% else %}
									{% assign r_stars = r.stars | floor %}
									{% assign has_half = true %}
								{% endif %}

								{% for star in (1..r_stars) %}
									<i class="fa fa-fw fa-star text-zoo-orange"></i>
								{% endfor %}
								{% if has_half == true %}
									<i class="fa fa-fw fa-star-half text-zoo-orange"></i>
								{% endif %}
							{% endif %}
							{% if r.quote and r.quote != empty %}
								<p class="lead fs-3 mb-0">{{ r.quote }}</p>
							{% endif %}
							{% if r.publisher and r.publisher != empty %}
								<p><em>{{ r.publisher }}</em></p>
							{% endif %}
						</div>
					{% endfor %}
				</div>
			</div>
		{% endif %}
		{% if has_reviews and has_links%}
			<div class="col-12 my-4">
				<hr>
			</div>
		{% endif %}
		{% if has_links %}
			<div class="col-12 text-center">
				<h3 class="text-zoo-orange">Follow the show</h3>
				<div>
					{% for l in show.links %}
						{% assign first_char = l.link | slice: 0 %}
						{% if first_char == '@' and l.platform %}
							{% assign platform = l.platform | downcase %}
							{% assign this_link = l.link | remove: "@" %}
							{% assign platform_link = site.data.icons | where: "type", platform | first %}
							{% assign real_link = platform_link.url | append: this_link %}
						{% endif %}
						<a href="{{ real_link | default: l.link }}" target="_blank" class="show-social-link">
							{% if l.platform %}
								{% assign platform = l.platform | downcase %}
								{% assign icon_match = site.data.icons | where: "type", platform | first %}
								{% if icon_match %}
									<i class="fa-fw fa-2x {{ icon_match.icon }}"></i>
								{% else %}
									{{ l.title }}
								{% endif %}
							{% else %}
								{{ l.title }}
							{% endif %}
						</a>
					{% endfor %}
				</div>
			</div>
		{% endif %}
		{% if show.video_embeds and show.video_embeds != empty %}
			{% for video in show.video_embeds %}
				<div class="col-12 col-lg-8 offset-lg-2 my-4">
					<div class="ratio ratio-16x9">
						{{ video.embed_code }}
					</div>
					{% if video.title and video.title != empty %}<p class="text-muted text-end mt-2">{{ video.title }}</p>{% endif %}
				</div>
			{% endfor %}
		{% endif %}
	</div>

</div>

<div class="container-fluid bg-primary text-light">
	<div class="row mt-4">
		<div class="col-12">
			<h3 class="display-3">You may also like...</h3>
		</div>
	</div>
	<div class="row mb-4">
		{% include components/ymal.html show=show %}
	</div>
</div> 