---
layout: default 
is_show: true 
use_swiper: true 
---

{% assign show = page %}

<div class="container-fluid bg-zoo-white pt-4">
	<div class="row mb-lg-5 mb-md-4">
		<div class="col-12 col-lg-4 col-xl-3 text-center text-lg-end d-flex flex-column order-lg-2">
			<a href="{% link _content/index.md %}"><img src="/static/img/zoo/zoo-logo-black.png" class="img-fluid" width="125px" height="auto" alt="ZOO"></a><br>
		</div>
		<div class="col-12 col-lg-8 col-xl-9 px-5 pe-lg-0 my-auto d-flex flex-row order-lg-1">
			{% include show/show-image.html show=show %}
			<div class="ms-md-4 d-flex flex-column">
				<h1 class="display-2 text-zoo-black text-center text-md-start">
					{{ show.title }}
					{% if show.company and show.company != empty %}
						<p class="display-4 bebas text-muted fw-lighter">{{ show.company }}</p>
					{% endif %}
				</h1>
				{% if show.image and show.image != empty %}
					<div class="d-block d-md-none mb-4 mx-1 text-center">
						<img src="{{ show.image }}" alt="{{ show.title}} icon" class="img-fluid" height="auto">
					</div>
				{% endif %}
				<div class="fs-5 text-center">
					<div class="row row-cols-2 row-cols-sm-4 d-flex justify-content-around">
						{% if show.price.standard and show.price.standard != empty %}
							<div class="col mb-4 mb-md-0">
								<i class="fa fa-fw text-zoo-orange fa-ticket-alt fs-2"></i><br>
								£{{ show.price.standard }}<br>
								{% if show.price.concession and show.price.concession != empty and show.price.concession != show.price.standard %}
									(£{{ show.price.concession }})
								{% endif %}
							</div>
						{% endif %}
						{% if show.start_time and show.start_time != empty %}
							<div class="col mb-4 mb-md-0">
								<i class="fa fa-fw text-zoo-orange fa-clock fs-2"></i><br>
								{{ show.start_time }}
								{% if show.duration and show.duration != empty %}
									<br>({{ show.duration }})
								{% endif %}
							</div>
						{% endif %}
						{% if show.venue and show.venue != empty %}
							<div class="col mb-4 mb-md-0">
								<i class="fa fa-fw text-zoo-orange fa-map fs-2"></i><br>
								{{ show.venue }}
							</div>
						{% endif %}
						{% if show.access and show.access != empty %}
							<div class="col mb-4 mb-md-0">
								<i class="fa fa-fw text-zoo-orange fa-universal-access fs-2"></i><br>
								<div class="text-zoo-slate d-flex flex-row justify-content-evenly pt-1">
									{% for a in show.access %}
										{% include text/access.html access_item=a large=true %}
									{% endfor %}
								</div>
							</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container-md">
	<div class="row mb-4">
		{% include components/dates.html show=show %}
	</div>
	{% if show.access_details and show.access_details != empty %}
		<div class="row my-2">
			<p><i class="fa fa-fw fa-lg fa-universal-access text-zoo-orange"></i>&nbsp;<strong>Access information:</strong> {{ show.access_details }}</p>
		</div>
	{% endif %}
	{% include show/buttons.html show=show btn_class='btn-lg' book_primary=true read_string="Keep reading" %}
</div>
<div class="container py-4">
	<div class="row show-details" id="show-details">
		<div class="col-12 show-blurb">
			{{ show.copy_long | markdownify }}
		</div>
		{% if show.content_warnings != empty or show.age_guidance != empty %}
			<div class="col-12 col-md-6">
				{% if show.age_guidance and show.age_guidance != empty %}
					<h3 class="text-zoo-orange">Age {% if show.age_restricted == true %}Restriction{% else %}Guidance{% endif %}: {{ show.age_guidance }}</h3>
					{% if show.age_restricted == true %}
						<p class="text-muted small"><i class='fa fa-exclamation-circle'></i> This show is age restricted. ID checks may be in place.</p>
					{% endif %}
				{% endif %}
				{% if show.content_warnings and show.content_warnings != empty %}
					<h3 class="text-zoo-orange">Content Warnings</h3>
					<ul>
						{% for c in show.content_warnings %}
							<li>{{ c | capitalize }}</li>
						{% endfor %}
					</ul>
				{% endif %}
			</div>
		{% endif %}
		{% if show.genre and show.genre != empty %}
			<div class="col-12 col-md-6">
				<h3 class="text-zoo-orange">Genre / Category</h3>
				<ul>
					{% for g in show.genre %}
						<li>{{ g | capitalize }}</li>
					{% endfor %}
				</ul>
			</div>
		{% endif %}
		<div class="col-12 col-md-6 offset-md-3 text-center">
			{% include show/buttons.html show=show only_book=true book_primary=true btn_class='btn-lg w-100' %}
		</div>
		{% if show.reviews and show.reviews != empty %}
			{% assign has_reviews = true %}
		{% endif %}
		{% if show.links and show.links != empty %}
			{% assign has_links = true %}
		{% endif %}
		{% if has_reviews %}
			<div class="col-12 my-4">
				<hr>
			</div>
		{% endif %}
		{% if has_reviews %}
			<div class="col-12 d-flex flex-row justify-content-around text-center">
				{% for r in show.reviews %}
					<div class="show-review">
						{% if r.stars and r.stars != empty and r.stars != 0 %}
							{% for star in (1..r.stars) %}
								<i class="fa fa-fw fa-star text-zoo-orange"></i>
							{% endfor %}
						{% endif %}
						{% if r.quote and r.quote != empty %}
							<p class="lead fs-3 mb-0">{{ r.quote }}</p>
						{% endif %}
						{% if r.publisher and r.publisher != empty %}
							<p><em>{{ r.publisher }}</em></p>
						{% endif %}
					</div>
				{% endfor %}
			</div>
		{% endif %}
		{% if has_reviews and has_links%}
			<div class="col-12 my-4">
				<hr>
			</div>
		{% endif %}
		{% if has_links %}
			<div class="col-12 text-center">
				<h3 class="text-zoo-orange">Follow the show</h3>
				<div>
					{% for l in show.links %}
						<a href="{{ l.link }}" target="_blank" class="show-social-link">
							{% if l.platform %}
								{% assign platform = l.platform | downcase %}
								{% assign icon_match = site.data.icons | where: "type", platform | first %}
								{% if icon_match %}
									<i class="fa-fw fa-2x {{ icon_match.icon }}"></i>
								{% else %}
									{{ l.title }}
								{% endif %}
							{% else %}
								{{ l.title }}
							{% endif %}
						</a>
					{% endfor %}
				</div>
			</div>
		{% endif %}
		{% if show.trailer and show.trailer != empty %}
			<div class="col-12 col-lg-8 offset-lg-2 my-4">
				<div class="ratio ratio-16x9">
					{{ show.trailer }}
				</div>
			</div>
		{% endif %}
	</div>

</div>

<div class="container-fluid bg-primary text-light">
	<div class="row mt-4">
		<div class="col-12">
			<h3 class="display-3">You may also like...</h3>
		</div>
	</div>
	<div class="row mb-4">
		{% include components/ymal.html show=show %}
	</div>
</div> 

<!-- 


<div class="container-fluid px-4 bg-secondary">
	<div class="row mb-4 text-center d-flex flex-row justify-content-between mx-4 px-4">
		<div class="col-12 col-md-4 col-xl-3 fs-5">
			<div class="card border-zoo-orange rounded-0 bg-transparent text-light h-100">
				<div class="card-body">
					<i class="fa fa-map fa-fw fa-2x text-zoo-orange"></i>
					<p class="mb-0">{{ show.venue }}</p>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-4 col-xl-3 fs-5">
			<div class="card border-zoo-orange rounded-0 bg-transparent text-light h-100">
				<div class="card-body">
					<i class="fa fa-ticket-alt fa-fw fa-2x text-zoo-orange"></i>
					<p class="mb-0">{{ show.price.standard | prepend: '£' }}{% if show.price.concession and show.price.concession != empty and show.price.concession != show.price.standard %} ({{ show.price.concession | prepend: '£' }}){% endif %}</p>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-4 col-xl-3 fs-5">
			<div class="card border-zoo-orange rounded-0 bg-transparent text-light h-100">
				<div class="card-body">
					<i class="fa fa-clock fa-fw fa-2x text-zoo-orange"></i>
					<p class="mb-0">{{ show.start_time }} {% if show.duration and show.duration != empty %}({{ show.duration }}){% endif %}</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row mb-4">
		<div class="col-12 col-lg-10 offset-lg-1">
			{% include components/dates.html show=show light=true %}
		</div>
	</div>

	<div class="row w-100 mb-4">
		<div class="col-12 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3 d-lg-flex flex-row justify-content-evenly">
			<a class="btn-zoo-pill btn-light btn-lg bebas mb-4 mb-lg-0" href="{{ show.ticket_link }}">Book Tickets</a><br>
			<a class="btn-zoo-pill btn-primary btn-lg bebas" href="#top-of-content">Keep reading <i class="fa fa-arrow-down"></i></a>
		</div>
	</div>

</div>

<div class="container">
	<div class="row">
		<div class="col-12">
		</diV>
	</div>
	<div class="row my-4">
		<div class="col-12 show-blurb">
			{{ show.copy_long | markdownify }}
		</div>
		{% if show.content_warnings and show.content_warnings != empty %}
			<div class="col-12">
				<p class="lead text-zoo-orange">Content Warnings</p>
				<ul>
					{% for c in show.content_warnings %}
						<li>{{ c | capitalize }}</li>
					{% endfor %}
				</ul>
			</div>
		{% endif %}
	</div>
</div>



--> 