.programme-menu {
	@extend .btn-zoo, .rounded-0, .shadow, .btn-lg, .bebas, .fs-4, .btn-outline-info;
}

.card-programme {
	@extend .card, .outline-zoo-orange, .mb-4, .rounded-0, .shadow;

	.card-header {
		p {
			@extend .lead, .fs-4, .mb-0, .d-flex, .justify-content-between;
		}
		.fa {
			@extend .text-zoo-orange, .my-auto;
		}
		&[aria-expanded="true"] {
			.fa {
				transform: rotate(180deg);
			}
		}
	}
	.btn-filter {
		@extend .btn, .btn-outline-info, .btn-zoo, .m-1, .bebas;
	}
}
.helper-text {
	@extend .small, .text-zoo-orange, .mb-1;
	a {
		@extend .clickme, .text-decoration-none;
	}
}
.close-button {
	@extend .btn, .bebas, .text-center, .btn-zoo-pill, .btn-outline-info, .btn-lg;
}

.filtered-out {
	@extend .d-none;
}

.filtered-out-by-search, .filtered-out-by-price, 
.filtered-out-by-genre, .filtered-out-by-date, 
.filtered-out-by-time, .filtered-out-by-age,
.filtered-out-by-access, .filtered-out-by-content-warning {
	@extend .d-none; 
}

.filter-badge-container {
	line-height: 2rem;
	.filter-badge {
		@extend .btn-zoo-pill;
		@extend .py-1, .px-2;
		.icons {
			@extend .ms-3;
		}
		i.fa {
			display:none;
		}
		&:hover, &:active, &:focus-within {
			i.far {
				display:none;
			}
			i.fa {
				display:inline;
			}
		}
	}
}