
// NAVIGATION

#zoo-navbar {
	.nav-logo {
		@extend .order-1, .order-lg-1;
	}
	.nav-social {
		@extend .order-4, .order-lg-2;
	}
	.nav-categories {
		@extend .order-2, .order-lg-3;

	}
	.nav-navigation {
		@extend .order-3, .order-lg-4;
	}
}

img.logo-in-title{ 
  width: auto;
  margin-top: 2px;
  vertical-align: middle;
  @include media-breakpoint-down(xl){
  	display: none;
  }
  &.home-logo {
  	@include media-breakpoint-only(xl){
  		display: inline;
  	}
  	@include media-breakpoint-only(lg){
  		display: inline;
  		height: 3rem !important;
  	}
  }
}

.header-category-wrapper {
	@extend .mx-2;
	.header-category-button {
		margin-top: 0.5rem;
		transition: margin;
		transition-duration: 300ms;
	}
	&:hover, &:focus, &:active, &:focus-within {
		.header-category-button {
			margin-top: 0;
			margin-bottom: 0.5rem;
		}
	}
	&:focus-within {
		.header-category-button {
			outline: 1px dashed grey;
		}
	}
}
.header-category-button {
	@extend .btn-zoo, .shadow, .p-2;
}
.buttons {
	width: 100%;
	@include media-breakpoint-only(md){
    	width: auto;
	}
	@include media-breakpoint-up(xl){
		width: auto;
	}
}

.footer p {
	@extend .mb-0;
}

// FEATURES 

.ratio {
	overflow: hidden;
}
.row.homepage-banner {
	@extend .bg-zoo-slate, .shadow-lg;
	.header-logo img {
		@include media-breakpoint-down(sm){
			transform: scale(0.7)
		}
	}
}

// TRAILER
.trailer {
	position: absolute;
	overflow: hidden;
	z-index: 9;

	top:0;
	bottom:0;
	@include media-breakpoint-up(xl){
		bottom: 20%;
		top: auto;
	}

	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
}
.trailer-wrapper {
	overflow: hidden;
	position: relative;
	height: 500px;
	@include media-breakpoint-down(lg){
		height: 400px;
	}
	@include media-breakpoint-down(md){
		height: 250px;
	}
	@include media-breakpoint-down(sm){
		height: inherit; // Automatic height adjustments on the tiniest viewports 
	}
}

// TRAILER BUTTONS
.trailer-play, .trailer-volume {
	position: absolute;
	z-index: 10;
	overflow: hidden;

	width: fit-content !important;
	height: initial !important;
	@include media-breakpoint-down(sm){
		transform: scale(0.7);
	}
}
.trailer-volume {
	top: 5% !important;
	left: 2% !important;
}
.trailer-play {
	@include media-breakpoint-up(md){
		top: 85% !important;
	}
	@include media-breakpoint-down(md){
		bottom: 7% !important; // Otherwise it disappears! :(
	}
	left: 0 !important;
	right: 0 !important;
}

.row.homepage-row {
	&:first-of-type {
		@extend .mt-5;
	}
	@extend .mt-4, .mb-5, .mx-xl-5;
	@extend .px-sm-4, .px-md-5;

	div.category-image {
		@extend .col-10, .col-sm-6, .col-md-5, .col-lg-4, .col-xxl-3;
		@extend .mx-auto, .my-md-auto, .mt-2;
	}
	div.category-body {
		@extend .col;
	}

}

table.date-list {
	td.show-date {
		@extend .fw-bold, .text-zoo-orange;
		opacity: 1 !important;
	}
	@extend .text-muted, .small, .w-100, .shadow-sm;

	td {
		padding: 0.2rem;
		opacity: 0.5;
		@include media-breakpoint-only(lg) {
			padding: 0.2rem 0.1rem;
		}
	}

	&.date-list-light {
		color: map-get($zoo-brand, "white") !important;
		td:not(.show-date) {
			opacity: 0.6;
		}
	}
	font-size: 8px !important;
	@include media-breakpoint-only(xxl) {
		font-size: 11px !important;
	}
	@include media-breakpoint-only(xl) {
		font-size: 9px !important;
	}
	@include media-breakpoint-only(lg) {
		font-size: 10px !important;
	}
	@include media-breakpoint-only(md) {
		font-size: 10px !important;
	}
	@include media-breakpoint-only(xs) {
		font-size: 7px !important;
	}
}



// CARDS 

#available-today-body {
	@media only screen and (min-width: 1200px){
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
	@media only screen and (min-width: 1400px){
		width: 80%;
	}
}
.card-header[data-bs-toggle="collapse"]{
	@extend .clickme;
}
.card-body {
	position: relative; // Override .ratio 
}
.card-image {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 15rem;
	--aspect-ratio: 85%;
}
.card.card-event {
	@extend .rounded-0;
}
div.card-event {
	.card-header, .card-footer, .card-body {
		border: none;
		outline: none;
		border-radius: 0;
	}
}
a.card-event, a.related-event {
	text-decoration: none !important;
}

div.card-event-hover {
	transition: all; // Catches the box-shadow as well as the scale
	transition-duration: 0.35s;
	@extend .shadow;
}

a.card-event-hover  {
	&:hover, &:focus, &:focus-within, &:active {
		div.card-event-hover {
			transform: scale(1.03);
			@extend .shadow-lg;
		}
	}
}

.show-image {
	@extend .mb-3, .text-center, .text-lg-start;
	img {
		@extend .img-fluid, .shadow-sm;
	}
	&:focus-within, &:active {
		img {
			box-shadow: 0 0.125rem 0.25rem map-get($zoo-brand, "orange") !important;
		}
	}
}

.card-show-slider, .card-show-small {
	@extend .card, .h-100, .bg-transparent, .rounded-0;
	@extend .mb-4, .mb-lg-2, .ms-0;
	.card-header, .card-footer {
		@extend .bg-transparent, .border-0;
	}
}
.card-show-slider {
	@extend .border-2px, .h-100;
	.card-header, .card-body, .card-footer {
		@extend .d-flex;
	}
	.card-body, .card-footer {
		@extend .flex-column;
	}
	.card-body {
		@extend .pb-0;
	}
	.show-image {
		@extend .w-100, .pt-3, .px-4, .mx-4;
		img {
			@extend .mx-auto;
		}
	}
	.card-footer {
		@extend .pt-0;
	}
}
.card-show-small {
	@extend .border-0;
	@extend .py-3;
	.card-body {
		@extend .m-0, .p-0;
	}
	.card-footer {
		@extend .text-center, .p-0;
	}
	.show-image {
		@extend .me-3;
		@extend .float-start, .d-flex, .flex-column;
		
		max-width: 45%; 
		@include media-breakpoint-up(lg) {
			max-width: 40%;
		}
		@include media-breakpoint-up(sm) {
			max-width: 30%;
		}
	}
}


// SHOW PAGE
.show-large {
	.show-title {
		@extend .text-center, .text-lg-start;
	}
	.icon-row {
		@extend .row, .row-cols-auto, .row-cols-sm-4;
		&.icon-row-4 {
			@extend .row-cols-2, .row-cols-sm-4;
		}
		@extend .d-flex, .justify-content-between, .justify-content-lg-start;
		@extend .fs-6, .text-center;

		i.fa.fa-fw {
			@extend .text-zoo-orange;
			@extend .fs-4;
		}
	}
}

.show-details {
	h3 {
		letter-spacing: 1px;
		@extend .fs-4;
	}
	hr {
		height: 2px !important;
		@extend .text-zoo-orange, .w-75, .mx-auto;
	}
	
	.show-blurb {
		@extend .mb-3;
		line-height: 2rem;

		p:first-of-type {
			@extend .fs-6;
			font-weight: 500;
		}
	}
}

// Other pages 
.page-narrow-content {
	.info-card {
		@extend .card, .rounded-0, .border-info, .border-2px, .h-100;
		.card-header {
			@extend .border-info;
			h1, h2, h3, p {
				@extend .mb-0;
			} 
		}
	}
}

// ACCESSIBILITY 

img.access-icon {
	width: 2rem;
	height: 2rem;
}

@media (prefers-reduced-motion: reduce) {
	* {
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
	.card-event-hover {
		&:hover, &:focus, &:focus-within, &:active {
			> * {
				transform: scale(1) !important;
			}
		}
	}
}

